<!-- _menu.erb -->

<nav>
  <ul>
    <li><a href="/juegos/truco/lecciones">Lecciones</a></li>
    <li><a href="/juegos/truco/preguntas">Preguntas</a></li>
    <li><a href="/juegos/truco/volver">Volver</a></li>
  </ul>
</nav>
