<!DOCTYPE html>
<html>
<head>
  <title>Juego de Escoba</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #121212;
      color: #ffffff;
      text-align: center;
      padding: 50px;
    }

    h1 {
      color: #ffd700; /* Dorado */
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    .coming-soon {
      font-size: 2rem;
      color: #32cd32; /* Verde */
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
      margin-top: 50px;
    }
  </style>
</head>
<body>
  <h1>Juego de Escoba</h1>
  <p>¡Próximamente!</p>
  <p>Mientras tanto, ¡prepárate para la emoción de un nuevo juego!</p>
  <p>¡Estamos trabajando para brindarte la mejor experiencia!</p>
  <div class="coming-soon">¡Próximamente Escoba !</div>
  <a href="/juegos" class="back-button">Volver a Juegos</a>
</body>
</html>
