<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas del Usuario</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

        body {
            font-family: 'Press Start 2P', cursive;
            background-color: #121212;
            color: #ffffff;
            margin: 0;
            padding: 20px;
            background-image: url('/game_background.jpg'); /* Fondo de pantalla estilo juego */
            background-size: cover;
            background-position: center;
        }

        h1 {
            text-align: center;
            color: #ffd700; /* Dorado */
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
            margin-bottom: 40px;
        }

        .estadistica {
            font-size: 1.5rem;
            text-align: center;
            margin: 20px 0; /* Aumenta el margen entre estadísticas */
            padding: 10px 0; /* Añade un poco de relleno dentro de cada estadística */
            color: #ffffff;
            border-bottom: 1px solid #ffd700; /* Línea dorada para separación visual */
        }

        .estadistica:last-child {
            border-bottom: none; /* Quita la línea del último elemento */
        }

        a.back-button {
            display: block;
            width: 200px;
            margin: 20px auto;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            background-color: #ff6347; /* Rojo tomate */
            color: #fff;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.3s;
        }

        a.back-button:hover {
            background-color: #e5533d; /* Rojo más oscuro al pasar el ratón */
            transform: translateY(-3px);
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Estadísticas del Usuario</h1>
        <div class="estadistica">Cantidad de preguntas respondidas: <%= estadistic.cantidadDePreguntaRespondidas %></div>
        <div class="estadistica">Cantidad de preguntas respondidas correctamente: <%= estadistic.cantPregRespondidasBien %></div>
        <div class="estadistica">Cantidad de preguntas respondidas incorrectamente: <%= estadistic.CantPregRespondidasMal %></div>
        <div class="vidas">Cantidad de vidas = <%= vida.cantidadDeVidas %></div>
        <a href="/juegos/truco" class="back-button">Volver</a>
    </div>
</body>
</html>
