<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas del Usuario</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

    body {
        font-family: 'Arial', sans-serif;
        background-color: #000;
        color: #fff;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url("poker.jpg");
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
    }

    .container {
        text-align: center;
        background-color: rgba(68, 55, 55, 0.6);
        border-radius: 10px;
        width: 950px;
        padding: 30px;
    }

    /* Título principal */
    h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 20px;
        color: #f87922;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    /* Estilos para cada estadística */
    .estadistica {
        font-size: 1.5rem;
        margin: 20px 0;
        padding: 10px 0;
        color: #fff;
        border-bottom: 1px solid #f87922;
    }

    .estadistica:last-child {
        border-bottom: none;
    }

    /* Botón de regreso */
    a.back-button {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        padding: 15px 30px;
        font-size: 1.2rem;
        border-radius: 5px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        text-align: center;
        background-color: #f87922;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        margin-top: 20px;
    }

    a.back-button:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    }

    /* Nivel de usuario */
    .nivel {
        position: fixed;
        top: 20px;
        left: 20px;
        font-size: 1.5em;
        color: #f87922;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px;
        border-radius: 5px;
    }

    /* Estilos para las vidas (corazones) */
    .hearts {
        display: flex;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .heart {
        font-size: 50px;
        color: red;
        margin-right: 10px;
    }

    .heart.empty {
        color: lightgray;
    }
</style>

</head>
<body>
    <div class="container">
        <h1>Estadísticas del Usuario</h1>
        <div class="estadistica">Cantidad de preguntas respondidas: <%= estadistic.cantidadDePreguntaRespondidas %></div>
        <div class="estadistica">Cantidad de preguntas respondidas correctamente: <%= estadistic.cantPregRespondidasBien %></div>
        <div class="estadistica">Cantidad de preguntas respondidas incorrectamente: <%= estadistic.cantPregRespondidasMal %></div>
        <a href="/juegos/truco" class="back-button">Volver</a>
    </div>
</body>
</html>
