<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estadísticas de Preguntas</title>
  <link rel="stylesheet" href="../css/estadisticasPreguntas.css">
</head>
<body>
  <div class="container">
    <!-- Tabla para preguntas con más respuestas incorrectas -->
    <h2>Preguntas Más Respondidas Incorrectamente</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Pregunta</th>
          <th>Veces Respondidas Mal</th>
        </tr>
      </thead>
      <tbody>
        <% @questions_most_incorrect.each do |question| %>
          <tr>
            <td><%= question.description %></td>
            <td><%= "#{question.vecesRespondidasBien + question.vecesRespondidasMal} / #{question.vecesRespondidasMal} " %></td>

          </tr>
        <% end %>
      </tbody>
    </table>

    <!-- Tabla para preguntas con más respuestas correctas -->
    <h2>Preguntas Más Respondidas Correctamente</h2>
    <table border="1">
      <thead>
        <tr>
          <th>Pregunta</th>
          <th>Veces Respondidas Bien</th>
        </tr>
      </thead>
      <tbody>
        <% @questions_most_correct.each do |question| %>
          <tr>
            <td><%= question.description %></td>
           <td><%= "#{question.vecesRespondidasBien + question.vecesRespondidasMal} / #{question.vecesRespondidasBien} " %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <a class="btn-game" href="/juegos">Volver a los juegos</a>
  </div>
</body>
</
