<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Formulario</title>
  <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    
    .form-container {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 400px;
    }
    
    h1 {
        color: #673ab7;
        text-align: center;
    }
    
    label {
        display: block;
        margin-top: 10px;
    }
    
    input[type="email"],
    input[type="text"],
    select {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    button {
        background-color: #673ab7;
        color: white;
        border: none;
        padding: 10px;
        margin-top: 20px;
        cursor: pointer;
        width: 49%;
    }
    
    button[type="reset"] {
        background-color: #f44336;
    }
    
    button:hover {
        opacity: 0.9;
    }  
  </style>
</head>
<body>
  <div class="form-container">
    <h1>Generador de pregunta</h1>
    <form >
      
        <p>* Indica que la pregunta es obligatoria</p>
        
        <label for="description">Descripción *</label>
        <input type="text" id="description" name="description" required>
        
        <label for="options">Opciones *</label>
        <input type="text" id="options" name="options" required>
        
        <label for="correct-option">Opción correcta *</label>
        <input type="text" id="correct-option" name="correct-option" required>
        
        <button type="submit">Enviar</button>
        <button type="submit">Volver</button>
      
    </form>
  </div>
</body>
</html>