<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
</head>
<body>
    <h1>Perfil de <%= user.username %></h1>
    <p>Nombres: <%= user.names %></p>
    <p>Email: <%= user.email %></p>
    <a href="/logout"><button>Cerrar sesión</button></a>
</body>
</html>
