<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truco Argentino</title>
    <link rel="stylesheet" href="../css/truco.css"> 
</head>
<body>
    <div class="container text-center">
        <div class="titulo">Truco Argentino</div>
        <div class="submenu mb-3">
            <a href="/lecciones" class="btn"><i class="bi bi-book"></i>Tomar Lecciones</a>
            <a href="/preguntas" class="btn"><i class="bi bi-question-circle"></i>Responder Preguntas</a>
            <a href="/estadisticas" class="btn"><i class="bi bi-bar-chart"></i>Ver Estadísticas</a>
            <a href="/juegos" class="btn-red"><i class="bi bi-arrow-left"></i>Volver</a>
        </div>
    </div>
</body>
</html>
