@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("poker.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.container {
    text-align: center;
    background-color: rgba(68, 55, 55, 0.6);
    border-radius: 10px;
    margin: 20px;
    width: 950px;
    padding: 30px;
}

/* Título principal */
.titulo {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f87922;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Estilos para el menú de botones */
.submenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* Estilos para los enlaces de los botones del menú */
.submenu a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    background-color: #f87922;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilo para el botón rojo específico */
.btn-red {
    background-color: #a32727;
}

/* Estilo del nivel */
.nivel {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 1.5em; /* Tamaño de letra más grande para el nivel */
    color: #f87922;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
    padding: 10px;
    border-radius: 5px;
}

/* Efecto hover en los botones */
.submenu a:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

/* Estilos para íconos dentro de los botones */
.submenu i {
    margin-right: 10px;
}

/* Estilos para las vidas (corazones) */
.hearts {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
}

.heart {
    font-size: 50px;
    color: red;
    margin-right: 10px;
}

.heart.empty {
    color: lightgray;
}
